[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=NetPanzer
GenericName=Realtime Strategy Game
Comment=Online multiplayer tactical warfare game
Icon=netpanzer
Exec=netpanzer
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
