[Desktop Entry]
Version=1.0
Type=Application
Name=NetPanzer
GenericName=Realtime Strategy Game
Comment=Online multiplayer tactical warfare game
Comment[de]=taktisches Online-Kriegsspiel für mehrere Spieler
Icon=netpanzer
Exec=netpanzer
Terminal=false
StartupNotify=false
Categories=Game;StrategyGame;
Keywords=panzer;tanks;realtime;battle;
