name: Docker Build Environment Image CI

on:
  workflow_dispatch:
  push:
    branches: master
    paths:
      - '.github/workflows/docker-build-env.yml'
      - 'support/docker/Dockerfile-build-env_**'

jobs:
  docker:
    name: netpanzer-build-env_${{ matrix.tag }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        tag: [jammy, focal]
    runs-on: ${{ matrix.os }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}
          password: ${{ secrets.UNCLE_ANDY_DOCKERHUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./support/docker/Dockerfile-build-env_${{ matrix.tag }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}/netpanzer-build-env:${{ matrix.tag }}
          cache-from: type=registry,ref=${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}/netpanzer-build-env:buildcache
          cache-to: type=registry,ref=${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}/netpanzer-build-env:buildcache,mode=max
