name: Docker Build Environment Image CI

on:
  workflow_dispatch:
  schedule:
    - cron: '30 11 * * 5'

jobs:
  docker:
    name: NP-build-env_${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        tag: [jammy, focal]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}
          password: ${{ secrets.UNCLE_ANDY_DOCKERHUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./support/docker
          file: ./support/docker/Dockerfile-build-env_${{ matrix.tag }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.UNCLE_ANDY_DOCKERHUB_USERNAME }}/netpanzer-build-env:${{ matrix.tag }}
