name: MacOS
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches: master
    paths:
    - 'src/**/**'
    - 'support/**/*.cpp'
    - '**meson.build'
    - 'setup-build.*'
    - 'subprojects/*.wrap'
    - '**/macos.yml'
  pull_request:
    branches: master
    paths:
    - 'src/**/**'
    - '**meson.build'
    - 'setup-build.*'
    - 'subprojects/*.wrap'
    - '**/macos.yml'

jobs:
  build:
    name: ${{ matrix.build.name }}
    strategy:
      fail-fast: false
      matrix:
        build:
        - name: macos
          os: macos-latest

    runs-on: ${{ matrix.build.os }}
    env:
      NETPANZER_DATADIR: ${{ github.workspace }}/data
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false

    - name: Show info
      run: |
        export -p
        echo '${{ toJSON(matrix) }}'

    - name: Install dependencies
      run: |
        brew update
        brew install \
          meson \
          ninja \
          gettext \
          physfs \
          pkg-config \
          sdl2_ttf \
          sdl2_mixer
        brew link --force gettext

    - name: Locate gettext
      run: |
        brew --prefix gettext

    - name: Set environment variables for gettext and tools
      run: |
        GETTEXT_PREFIX=$(brew --prefix gettext)
        echo "export PATH=\"$GETTEXT_PREFIX/bin:/usr/local/opt/meson/bin:/usr/local/opt/ninja/bin:\$PATH\"" >> $GITHUB_ENV
        echo "export LDFLAGS=\"-L$GETTEXT_PREFIX/lib\"" >> $GITHUB_ENV
        echo "export CPPFLAGS=\"-I$GETTEXT_PREFIX/include\"" >> $GITHUB_ENV
        echo "export PKG_CONFIG_PATH=\"$GETTEXT_PREFIX/lib/pkgconfig\"" >> $GITHUB_ENV

    - name: Verify gettext installation
      run: |
        GETTEXT_PREFIX=$(brew --prefix gettext)
        export PATH="$GETTEXT_PREFIX/bin:/usr/local/opt/meson/bin:/usr/local/opt/ninja/bin:$PATH"
        export LDFLAGS="-L$GETTEXT_PREFIX/lib"
        export CPPFLAGS="-I$GETTEXT_PREFIX/include"
        export PKG_CONFIG_PATH="$GETTEXT_PREFIX/lib/pkgconfig"
        echo "PATH=$PATH"
        echo "LDFLAGS=$LDFLAGS"
        echo "CPPFLAGS=$CPPFLAGS"
        echo "PKG_CONFIG_PATH=$PKG_CONFIG_PATH"
        ls "$GETTEXT_PREFIX/lib"
        ls "$GETTEXT_PREFIX/include"

    - name: Build
      run: |
        GETTEXT_PREFIX=$(brew --prefix gettext)
        export PATH="$GETTEXT_PREFIX/bin:/usr/local/opt/meson/bin:/usr/local/opt/ninja/bin:$PATH"
        export LDFLAGS="-L$GETTEXT_PREFIX/lib"
        export CPPFLAGS="-I$GETTEXT_PREFIX/include"
        export PKG_CONFIG_PATH="$GETTEXT_PREFIX/lib/pkgconfig"
        ./setup-build.sh _build
        ninja -v -C _build

    - name: Test
      run: |
        GETTEXT_PREFIX=$(brew --prefix gettext)
        export PATH="$GETTEXT_PREFIX/bin:/usr/local/opt/meson/bin:/usr/local/opt/ninja/bin:$PATH"
        export PKG_CONFIG_PATH="$GETTEXT_PREFIX/lib/pkgconfig"
        cd _build
        meson test --suite=netpanzer -v
